<!-- app.component.html -->
<div class="container">
  <form #userForm="ngForm">
    <h1>NOLA ONLINE TAXI AVAILABILITY APP</h1>

    <div class="form-group">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    <!--  -->
    <div class="latitude_input"> {{latitude}}</div>
    <div class="latitude_input">{{longitude}}</div>
    <div class="form-group">

      <input type="text" id="bookid" placeholder="Please book you cab" [(ngModel)]="bookid" />

      <button type="submit" (click)="getUser()" class="registerbtn">GET AVAILABLE CABS </button>
      <button type="submit" (click)="bookCab()" class="registerbtn add">BOOK AVAILABLE CABS </button>
      <button type="submit" (click)="unbookCab()" class="registerbtn add">UNBOOK A CAB </button>
      <button type="submit" (click)="numberofRides()" class="registerbtn add">NUMBER OF RIDES IN A cab </button>
      <div *ngFor="let article of articles">
        <!-- <p>{{article|json}}</p> -->
        <table>
          <tr>
            <th>Cab Id</th>
            <th>cab_name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Availablity</th>
            <th>Ride History</th>
          </tr>
          <tr>
            <td>{{article .id}}</td>
            <td>{{article.cab_name}}</td>
            <td>{{article.latitude}}</td>
            <td>{{article.longitude}}</td>
            <td>{{article.available}}</td>
            <td>{{article.ridehistory}}</td>
          </tr>
        </table>

      </div>

    </div>

  </form>
</div>
